body {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    background: #D5D4D2;
    font-family: 'Bree Serif', serif;
}

/*  NAVIGATION BAR  */

nav {
    position: fixed;
    /*always on top*/
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0px;
    background-color: #000000;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    padding: 0px 100px;
}

nav img {
    float: left;
    margin-top: 10px;
}

nav a{
    display: inline-block;
    float: right;
    padding-left: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    line-height: 70px;
    color: whitesmoke;
    padding: 0px 30px;
    font-size: 23px;
    text-transform: uppercase;
    transition: .3s;
}

nav.black a{
    color: #ffffff;
}

nav.black a:hover {
    background: #600F0C;
}

nav a:focus {
    outline: none;
}

/*  MODERATE SECTION  */

#moderate {
    padding: 0px;
    margin-top: 70px;
    height: auto;
    width: 100%;
}

#moderate article {
    height: 750px;
    width: 100%;
    /*calc(100% - 200px);*/
    margin-top: 0px;
    padding: 0px;
    background-color: #EF6C07;
}

#moderate .moderate_heading1 {
    color: #000000;
    background-color: #07efb1;
    font-size: 22pt;
    text-align: center;
    padding-left: 10px;

}

#moderate img {
    /*    IN THE MIDDLE   */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moderate .oCD {
    color: #ffffff;
    margin: 10px 0px 10px 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#moderate .text {
    float: left;
    color: #ffffff;
    text-align: center;
    margin: 10px 10px;
    font-size: 14pt;

}


/*  MODERATELY ACTIVE SECTION  */

#moderatelyActive {
    padding: 0px;
    margin-top: 70px;
    height: auto;
    width: 100%;
}

#moderatelyActive article {
    height: 750px;
    width: 100%;
    /*calc(100% - 200px);*/
    margin-top: 0px;
    padding: 0px;
    background-color: #67BE28;
}

#moderatelyActive .moderate_heading1 {
    color: #ffffff;
    background-color: #be2867;
    font-size: 22pt;
    text-align: center;

}

#moderatelyActive img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#moderatelyActive .oCD {
    color: #ffffff;
    margin: 10px 0px 10px 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#moderatelyActive .text {
    float: left;
    color: #ffffff;
    text-align: center;
    margin: 10px 10px;
    font-size: 14pt;

}

/*    ADVENTURESOME SECTION */

#adventuresome {
    padding: 0px;
    margin-top: 70px;
    height: auto;
    width: 100%;
}

#adventuresome article {
    height: 750px;
    width: 100%;
    /*calc(100% - 200px);*/
    margin-top: 0px;
    padding: 0px;
    background-color: #3F51B5;
}

#adventuresome .moderate_heading1 {
    color: #ffffff;
    background-color: #b5763f;
    font-size: 22pt;
    text-align: center;

}

#adventuresome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#adventuresome .oCD {
    color: #ffffff;
    margin: 10px 0px 10px 10px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#adventuresome .text {
    float: left;
    color: #ffffff;
    text-align: center;
    margin: 10px 10px;
    font-size: 14pt;

}

/*  FOOTER;SOCIAL MEDIA  */

#footer {
    height: 100px;
    width: 100%;
    background-color: #343B42;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#footer .copyright {
    text-align: center;
    padding-top: 20px;
}

#footer a {
    text-decoration: none;
}

#footer .socialMedia {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    padding: 0px;
}
